div.row.row-cols-5
    ul.list-group.p-1
      li.list-group-item.list-group-item-light.text-center Today
      li.list-group-item.list-group-item-light Temp
      li.list-group-item.list-group-item-light  Icon
    ul.list-group.p-1
      li.list-group-item.list-group-item-light.text-center Tomorrow
      li.list-group-item.list-group-item-light Temp
      li.list-group-item.list-group-item-light  Icon
    ul.list-group.p-1
      li.list-group-item.list-group-item-light.text-center Day
      li.list-group-item.list-group-item-light Temp
      li.list-group-item.list-group-item-light  Icon
    ul.list-group.p-1
      li.list-group-item.list-group-item-light.text-center Day
      li.list-group-item.list-group-item-light Temp
      li.list-group-item.list-group-item-light  Icon
    ul.list-group.p-1
      li.list-group-item.list-group-item-light.text-center Day
      li.list-group-item.list-group-item-light Temp
      li.list-group-item.list-group-item-light  Icon
